# ===========================================================================
# APP SETTINGS
# ===========================================================================
PROJECT_NAME=project_name
ENVIRONMENT=dev/prod
DEBUG=True/False
HOST=0.0.0.0
PORT=8000


# ===========================================================================
# SQLITE DATABASE URL (uncomment to use SQLite )
# ===========================================================================
# DATABASE_URL=sqlite:///./fastapi_guide.db
# ASYNC_DB_URL=sqlite:///./fastapi_guide.db


# ===========================================================================
# PostgreSQL DATABASE URL (uncomment to use PostgreSQL )
# ===========================================================================
# database type/driver → username : password → database host → PostgreSQL port (default) → database name
DATABASE_URL = 'postgresql://postgres:postgres@localhost:5432/fastapi_guide'
# DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/database_name
# ASYNC_DB_URL=postgresql+asyncpg://user:password@localhost:5432/database_name


# ===========================================================================
# CORS SETTINGS
# ===========================================================================
ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]


# ===========================================================================
# SECURITY SETTINGS
# ===========================================================================
# openssl rand -hex 32
SECRET_KEY=your-super-secret-key-min-32-chars-long
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
